<div class="container text-center">
    <button (click)="DownloadFile()" class="btn btn-primary mb-5 shadow border">Download PDF Resume</button>

    <div class="pb-2">
        <accordion [isAnimated]="true" class="shadow">
                <accordion-group heading="Certifications">
                <div style="text-align: left;">
                    <h2 class="mb-0">Full Stack Coding Bootcamp</h2>
                    <h3 class="text-primary">University of California Berkeley</h3>
                    <ul>
                        <li>Completed January 2024</li>
                        <li>Received 98% (A) in course</li>
                    </ul>
                </div>
                <hr>
            </accordion-group>
            <accordion-group heading="Skills">
                <div class="row" style="text-align: left;">
                    <div class="col">
                        <h3 class="text-primary">Programming Languages:</h3>
                        <ul>
                            <li>JavaScript</li>
                            <li>TypeScript</li>
                            <li>HTML</li>
                            <li>CSS</li>

                        </ul>
                    </div>
                    <div class="col">
                        <h3 class="text-primary">Frameworks:</h3>
                        <ul>
                            <li>Angular</li>
                            <li>React</li>
                            <li>Node.js</li>
                            <li>Bootstrap</li>
                            <li>Material UI</li>

                        </ul>
                    </div>
                    <div class="col">
                        <h3 class="text-primary">Other Skills:</h3>
                        <ul>
                            <li>Git Version Control</li>
                            <li>API Testing via Postman</li>
                            <li>HTML</li>
                            <li>CSS</li>

                        </ul>
                    </div>
                </div>
                <hr>
            </accordion-group>
            <accordion-group heading="Education">
                <div style="text-align: left;">
                    <h2 class="mb-0">Bachelor's of Science in Nursing</h2>
                    <h3 class="text-primary">Western Governor's University</h3>
                    <ul>
                        <li>Graduated November 2021</li>
                        <li>Received High Honors</li>

                    </ul>
                </div>
                <hr>
            </accordion-group>
            <accordion-group heading="Work Experience">
                <div style="text-align: left;">
                    <h2 class="mb-0">RN</h2>
                    <h3 class="text-primary">Company Name</h3>
                    <ul>
                        <li>description</li>
                        <li>tasks</li>
                        <li>Achievements</li>

                    </ul>
                </div>
                <hr>
                <div style="text-align: left;">
                    <h2 class="mb-0">RN</h2>
                    <h3 class="text-primary">Company Name</h3>
                    <ul>
                        <li>description</li>
                        <li>tasks</li>
                        <li>Achievements</li>

                    </ul>
                </div>
                <hr>
                <div style="text-align: left;">
                    <h2 class="mb-0">RN</h2>
                    <h3 class="text-primary">Company Name</h3>
                    <ul>
                        <li>description</li>
                        <li>tasks</li>
                        <li>Achievements</li>

                    </ul>
                </div>
                <hr>
                <div style="text-align: left;">
                    <h2 class="mb-0">RN</h2>
                    <h3 class="text-primary">Company Name</h3>
                    <ul>
                        <li>description</li>
                        <li>tasks</li>
                        <li>Achievements</li>

                    </ul>
                </div>
            </accordion-group>
        </accordion>
    </div>
</div>