<div class="container text-center">
    <button (click)="DownloadFile()" class="btn btn-primary m-5 shadow border">Download PDF Resume</button>

    <div class="pb-2">
        <accordion [isAnimated]="true" class="shadow">
                <accordion-group heading="Certifications">
                <div style="text-align: left;">
                    <h3 class="mb-0">Full Stack Coding Bootcamp</h3>
                    <h4>University of California Berkeley</h4>
                    <ul>
                        <li>Completed January 2024</li>
                        <li>Received 98% (A) in course</li>
                    </ul>
                </div>
                <hr>
            </accordion-group>
            <accordion-group heading="Skills">
                <div class="row" style="text-align: left;">
                    <h3>Skills</h3>
                    <div class="col">  
                        <h4>Programming Languages:</h4>
                        <ul>
                            <li>JavaScript</li>
                            <li>TypeScript</li>
                            <li>SQL</li>
                            <li>HTML</li>
                            <li>CSS</li>

                        </ul>
                    </div>
                    <div class="col">
                        <h4>Frameworks:</h4>
                        <ul>
                            <li>Angular</li>
                            <li>React</li>
                            <li>Express.js</li>
                            <li>Node.js</li>
                            <li>Bootstrap</li>
                            <li>Material UI</li>
                            <li>Bulma</li>

                        </ul>
                    </div>
                    <div class="col">
                        <h4>Other Skills:</h4>
                        <ul>
                            <li>Git Version Control</li>
                            <li>API Testing via Postman</li>
                            <li>Unit Tests via Jest</li>
                            <li>Deployment via Netlify, Heroku, GitHub, and Render</li>

                        </ul>
                    </div>
                </div>
                <hr>
            </accordion-group>
            <accordion-group heading="Education">
                <div style="text-align: left;">
                    <h3 class="mb-0">Bachelor's of Science in Nursing</h3>
                    <h4>Western Governor's University</h4>
                    <ul>
                        <li>Graduated November 2021</li>
                        <li>Received High Honors</li>

                    </ul>
                </div>
                <hr>
            </accordion-group>
            <accordion-group heading="Work Experience">
                <div style="text-align: left;">
                    <h3 class="mb-0">RN Case Manager</h3>
                    <h4>Bristol Hospice Hawaii</h4>
                    <ul>
                        <li>12/2022 to Current</li>
                        <li>Led teams in driving successful patient outcomes by prioritizing standard of
                            care and best practices.</li>
                        <li>Explained complex medical terms to clients using language that is easy-to-
                            understand.</li>
                    </ul>
                </div>
                <hr>
                <div style="text-align: left;">
                    <h3 class="mb-0">Registered Nurse</h3>
                    <h4>Attention Plus Care</h4>
                    <ul>
                        <li>01/2021 to 12/2022</li>
                        <li>Quickly responded to situations impacting safety and security for clients,
                            implementing interventions to de-escalate and prevent crisis situations.</li>
                        <li>Updated patient charts with vital data to keep records current and accurate.</li>
                    </ul>
                </div>
                <hr>
                <div style="text-align: left;">
                    <h3 class="mb-0">Case Manager/Admissions RN</h3>
                    <h4>Oahu Home Healthcare</h4>
                    <ul>
                        <li>11/2019 to 12/2020</li>
                        <li>Coordinated services with other agencies, organizations, and professionals
                            to provide high standard of care and open communication for clients.</li>
                        <li>Organized and detail-oriented with a strong work ethic.</li>
                    </ul>
                </div>
                <hr>
                <div style="text-align: left;">
                    <h3 class="mb-0">Registered Nurse</h3>
                    <h4>Manoa Senior Care</h4>
                    <ul>
                        <li>07/2017 to 07/2019</li>
                        <li>Ability to work under pressure as the leader in the work setting.</li>
                        <li>Assisted in the training and mentorship of new staff, contributing to a
                            positive work environment and high-quality care.</li>
                    </ul>
                </div>
                <hr>
                <div style="text-align: left;">
                    <h3 class="mb-0">Nurse Supervisor of Supported Living</h3>
                    <h4>Mary T Inc.</h4>
                    <ul>
                        <li>11/2016 to 06/2017</li>
                        <li>Leadership and project management skills implementing new staff training
                            programs.</li>
                        <li>Conducted staff meetings to keep team informed of departmental changes
                            and provide opportunities for employees to share ideas and concerns.</li>
                    </ul>
                </div>
            </accordion-group>
        </accordion>
    </div>
</div>