<div class="container">
    <div class="row">
        <!-- About me -->
        <div class="col-lg shadow border m-1">
            <div class="text-center">
                <h2>About Me</h2>
                <img src="../../assets/me2024.jpg" alt="profile picture" width="256" height="256" class="rounded-circle">
                <p>Welcome to my virtual space! I am a Full Stack Web Developer with a unique background in the healthcare industry. Embracing challenges, I am a critical thinker driven by problem-solving. Organized and reliable, I excel at juggling multiple priorities with a positive approach. Eager to take on new responsibilities to support team objectives. On this platform, I aim to showcase my skills creatively and explore innovative applications.</p>
            </div>
        </div>
        <!-- Featured Project -->
        <div class="col-lg shadow border m-1">
            <div class="text-center">
                <h2>Featured Project</h2>
            </div>
        </div>
    </div>
</div>
